body {
  background-image: url("images/22432.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-top: 30px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instructions {
    border-collapse: collapse;    
}

.instructions table{
  background-color: rgb(171, 185, 154);
}

.instructions td, th {
  border: 1px solid black;
  padding: 5px;  
}

#my-canvas {
  background-color: darkgray;
  display: none;
  margin-top: 60px;
  align-content: center;
}

.container #start-btn {
  position: absolute;
  background-color: rgb(2, 10, 2);
  color: white;
  padding: 10px;
  font-size: 35px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}

#end-screen {
  display: none;
}

#timer {
  background: linear-gradient(yellow,rgb(0, 255, 64));
  display: none;
  color: black;
}

.marcador {
  display: none;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 1em;
  min-width: 200px;
}

.marcador thead tr {
  background-color: rgb(74, 94, 107);
  color: black;
  text-align: left;
}

.marcador tbody tr {
  border-bottom: 1px solid #dddddd;
}

.marcador tbody td{
  background-color: rgb(38, 223, 223);
}

.container #restart-btn {
  position: absolute;
  display: none;
  background-color: rgb(2, 10, 2);
  color: white;
  padding: 10px;
  font-size: 35px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}

#goal{
  background-color: black;
  color: greenyellow;
  text-align:center;
}